/* App.css 
body {
  font-family: Arial, sans-serif;
  background-color: #d21717;
  margin: 0;
  padding: 20px;
  text-align: center;
}
*/


@keyframes anim{
  0% {background-color: rgb(255, 167, 52);} /*Amarillo*/
 25% {background-color: rgb(234, 161, 77);} /*Naranja*/
 50% {background-color: #ffef08e2;} /*Negro*/
 75% {background-color: rgba(15, 95, 193, 0.814);} /*Otra vez naranja*/
100% {background-color: rgba(10, 36, 71, 0.944);} /*Otra vez amarillo*/
}
body {
animation-name: anim;
animation-duration: 25s;
animation-iteration-count: infinite; 
margin:0;
font-family:  Georgia, Times, 'Times New Roman', serif;
}

h1 {
  
  font-size: 50px;
  background-color: beige;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border-radius: 20px;
  
}

p {
  text-align: center;
}